{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Header Start-->
<header class="header">
    <div class="container">
        <div class="headerIn">
            <div class="row">
                <div class="col-lg-8 col-sm-9 col-xs-12 pull-left noPaddingRight">
                    <nav class="mainNav">
                        <div class="menuBar hidden-lg hidden-md">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <ul>
                            <li class="has-menu-items"><a href="{% url 'home' %}">home</a></li>
                            <li class="has-menu-items"><a href="#">Mega menu</a>
                                <div class="row megaitem">
                                    <div class="mega-menu">
                                      {% for post in post %}
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="megaImg">
                                                <a href="#"><img src="{{post.photo.url}}" alt=""></a>
                                            </div>
                                            <h2 class="megaTitle">
                                                <a href="{% url 'blog_detail' post.id %}">{{post.title}}</a>
                                            </h2>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>
                            </li>
                            <li class="has-menu-items"><a href="{% url 'category' %}">categories</a></li>
                            <li class="has-menu-items"><a href="https://github.com/ahsanhabib98">Codes</a></li>
                            <li class="has-menu-items"><a href="{% url 'blog_list' %}">Blog</a></li>
                            <li class="has-menu-items"><a href="{% url 'blog_create' %}">Post</a></li>
                            <li class="has-menu-items"><a href="{% url 'about' %}">About Me</a></li>
                            <li class="has-menu-items"><a href="{% url 'email' %}">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-sm-3 col-xs-8 pull-right text-right">
                  <div class="socialHeader">
                      <a href="https://www.facebook.com/ahredoan"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="https://www.instagram.com/ahredoan/"><i class="fa fa-instagram"></i></a>
                      <a href="https://www.pinterest.com/ahredoan/"><i class="fa fa-pinterest"></i></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End-->

         <section class="mainContent">
                   <div class="container">
                       <div class="row">
                           <div class="col-lg-8">
                               <div class="row">
                                 {% for blog in all_blog %}
                                   <div class="col-lg-6">
                                       <div class="singleBlog">
                                           <div class="blogImg">
                                               <img src="{{blog.photo.url}}" alt="">
                                           </div>
                                           <div class="blogDec">
                                               <h2 class="blogtitle">
                                                   <a href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a>
                                               </h2>
                                               <div class="blogMeta">
                                                   <a href="#"><i class="fa fa-user"></i>{{blog.author_name}}</a>
                                                   <a href="#"> <i class="fa fa-clock-o"></i>{{blog.publish_date}}</a>
                                                   <a href="#"><i class="fa fa-comments"></i>6 Comments</a>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                {% endfor %}
                               </div>
                           </div>
                           <div class="col-lg-4 col-sm-5">
                            <div class="sidebarBlog">
                                <aside class="widget">
                                    <h3 class="widgetTitle">ABOUT ME</h3>
                                    {% for author in author %}
                                      <div class="aboutMe">
                                          <img src="{{author.photo.url}}" height="100" width="300" alt="">
                                          <div class="aboutdec">
                                              <h4>{{author.name}}</h4>
                                              <p>{{author.detail}}</p>
                                          </div>
                                      </div>
                                    {% endfor %}
                                </aside>
                                <aside class="widget">
                                    <div class="followMe">
                                        <h2 class="widgetTitle">follow me</h2>
                                        <a href="https://www.facebook.com/ahredoan"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="https://plus.google.com/u/0/112059170301259561065"><i class="fa fa-google-plus"></i></a>
                                        <a href="https://www.linkedin.com/in/ahsan-habib-43421b125/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://www.pinterest.com/ahredoan/"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </aside>

                                <aside class="widget">
                                    <h3 class="widgetTitle">RECENT POSTS</h3>
                                    <div class="recentPost">
                                      {% for post in r_post %}
                                        <div class="singleRecpost">
                                            <img src="{{post.photo.url}}" alt="">
                                            <h2 class="recTitle">
                                                <a href="{% url 'blog_detail' post.id %}">{{post.title}}</a>
                                            </h2>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </aside>
                                <aside class="widget emailSub">
                                    <h3 class="widgetTitle">subcribe</h3>
                                    <p>Etiam mollis leo ac diam facilisis, in pretium felis molestie. Quisque non nisi ut lectus</p>
                                    <form action="#" method="POST" class="subForm" id="">
                                        {% csrf_token %}
                                        {{form.as_p}}
                                        <button type="submit" id="subs_submit">Subscribe</button>
                                    </form>
                                </aside>

                                  <aside class="widget emailSub">
                                      <h3 class="widgetTitle">CATEGORIES</h3>
                                      <ul>
                                        {% for category in category %}
                                          <li><a href="{% url 'categorywise_blog' category.id %}">{{category.name}}</a></li>

                                        {% endfor %}
                                      </ul>
                                  </aside>

                                <aside class="widget">
                                    <h2 class="widgetTitle">Tag</h2>
                                    <div class="tagcloud">
                                      <a href="{% url 'home' %}">Home</a>
                                      <a href="{% url 'category' %}">Categories</a>
                                      <a href="https://github.com/ahsanhabib98">Codes</a>
                                      <a href="{% url 'blog_list' %}">Blog</a>
                                      <a href="{% url 'blog_create' %}">Post</a>
                                      <a href="{% url 'about' %}">About</a>
                                      <a href="{% url 'email' %}">Contact</a>
                                    </div>
                                </aside>
                               </div>
                           </div>
                       </div>
                   </div>
               </section>

               <section class="paginations">
                   <div class="container">
                       <div class="row">
                           <div class="col-lg-12">
                               <div class="paginationIn">
                                   <span class="current">1</span>
                                   <a href="#">2</a>
                                   <a href="#">3</a>
                                   <a href="#">4</a>
                                   <span class="dottedPagi">...</span>
                                   <a href="#">12</a>
                                   <a href="#" class="next"><i class="fa fa-long-arrow-right"></i></a>
                                   <div class="clearfix"></div>
                               </div>
                           </div>
                       </div>
                   </div>
               </section>


{% endblock %}
