{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- SUBHEADER -->
    <section id="subheader">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </section>

    <!-- MAIN PAGE -->
    <section id="page" class="about">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2><span class="primary-text">Who</span> Am I</h2>
            <p>Hello, everyone. Assalamualaikum, I am <a href="https://www.facebook.com/ahredoan">Ahsan Habib</a>. My teacher is <a href="https://www.facebook.com/Harun.m.r">Harun Ur Rashid.</a></p>
            <hr>
            <h2><span class="primary-text">What</span> I Do</h2>
            <p>I am software engineering and web developer and work with Django/Python for building web application.</p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}