{% load static %}

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Ahsan Habib</title>
        <meta name="viewport" content="width=device-width">

        <!-- Include All CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/preset.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>
        <!-- End Include All CSS -->


        <!-- Favicon Icon -->
        <link rel="icon"  type="image/png" href="{% static 'images/favicona.png' %}">
        <!-- Favicon Icon -->


    </head>
    <body class="animat">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=398601957305210&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
        <div id="page">
            <div class="leftMenu">
                <div class="leftmenuHead">
                    <div class="logoleft pull-left">
                        <a href="#"><img src="{% static 'images/logoleft.png' %}" alt=""></a>
                    </div>
                    <a href="#" class="leftclose pull-right">x</a>
                    <div class="clearfix"></div>
                </div>
                <div class="leftmenuScroll">
                    <nav class="leftmainnav">
                        <ul>
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li class="has-menu-items"><a href="{% url 'category' %}">categories</a></li>
                            <li class="has-menu-items"><a href="https://github.com/ahsanhabib98">codes</a></li>
                            <li class="has-menu-items"><a href="{% url 'blog_list' %}">Blog</a></li>
                            <li class="has-menu-items"><a href="{% url 'about' %}">About Me</a></li>
                            <li class="has-menu-items"><a href="{% url 'email' %}">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="socialleft">
                    <a href="https://www.facebook.com/redoanah"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com/u/0/112059170301259561065"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/in/ahsan-habib-43421b125/"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
              <!--Header Top Start -->
            <section class="headerTop">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-xs-2">
                            <div class="menuBar" id="leftTrigger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-8 text-center">
                            <div class="logo">
                                <a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-2 text-right">
                            <div class="search">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                                <form action="#" method="post" class="searchForm">
                                    <input type="search" placeholder="Search...">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Header Top End -->
           {% block content %}

           {% endblock %}

            <section class="instagramPhoto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="singleInst">
                            <a href="#">
                                <img src="{% static 'images/instagram/1.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="singleInst">
                            <a href="#">
                                <img src="{% static 'images/instagram/2.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="singleInst">
                            <a href="#">
                                <img src="{% static 'images/instagram/3.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="singleInst">
                            <a href="#">
                                <img src="{% static 'images/instagram/4.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="singleInst">
                            <a href="#">
                                <img src="{% static 'images/instagram/5.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="singleInst">
                            <a href="#">
                                <img src="{% static 'images/instagram/6.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="singleInst">
                            <a href="#">
                                <img src="{% static 'images/instagram/7.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="singleInst">
                            <a href="#">
                                <img src="{% static 'images/instagram/8.jpg' %}" alt="">
                            </a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 text-center">
                            <div class="footLogo">
                                <a href="#">
                                    <img src="images/logo2.png" alt="">
                                </a>
                            </div>
                            <p class="copyrightText">Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam et purus at lectus tempus <span>Copyright © 2016 Dhaka. All Right Reserved</span></p>
                            <div class="footSocial">
                                <a href="https://www.facebook.com/redoanah"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/ahredoan/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/ahsan-habib-43421b125/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Include All JS -->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="{% static 'js/gmaps.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
    </body>
</html>
